/************************************************
* Archivo global de estilos, 
* poner aqui todos los estilos de la aplicaccion 
*************************************************/
/*********** Paleta de colores **************
* HEX
* #DAF7A6
* #FFC300
* #FF5733
* #C70039
* #900C3F
* #581845
*********** Paleta de colores **************/

header,
footer,
main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

div,
input,
img {
  box-sizing: border-box;
}

img {
  width: 100%;
}

input {
  display: inline-block;
  padding: 8px 15px;
  border-radius: 5px;
  transition: 0.5s;
  background-color: #daf7a6;
  color: #581845;
}

*:focus {
  outline: none;
}

/************ Generales *************/
.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 10px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}

.between {
  justify-content: space-between;
}

.end {
  justify-content: flex-end;
}

.bottom {
  align-items: flex-end;
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.button {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.4s;
  cursor: pointer;
}

input.white {
  background-color: #eeeeee;
  color: #581845;
}

.button.red {
  background-color: #fe6d4e;
  color: #581845;
}
.button.red:hover {
  background-color: #ffc300;
  color: #581845;
}

.button.yellow {
  background-color: #ffc300;
  color: #581845;
}
.button.yellow:hover {
  background-color: #c1fe4e;
  color: #581845;
}

.button.outline {
  background: none;
  padding: 0;
}
.button.outline:hover {
  background: none;
}
.button.outline.red {
  color: #c70039;
}
.button.outline.yellow {
  color: #ffc300;
}

main h1::after {
  content: "";
  display: block;
  margin: 10px 0;
  height: 15px;
  background-color: #c70039;
}

.tags {
  margin: 0;
  padding: 0;
  list-style: none;
}
.tags li {
  margin-right: 10px;
  padding: 5px 15px;
  border-radius: 20px;
  border: 1px solid #cccccc;
  background-color: #eeeeee;
  transition: 0.4s;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
}
.tags li:hover {
  background-color: #ffffff;
}

/************ Header *************/
.header {
  padding-top: 50px;
  padding-bottom: 10px;
  background: #000000 url("../images/world.png") no-repeat center;
  background-size: cover;
}

.header .logo {
  max-width: 300px;
}

.header .menu div {
  margin-left: 10px;
}

.header .separator {
  margin: 10px 0;
  width: 100%;
  height: 15px;
  background-color: black;
}

/************ Footer *************/
.footer {
  background-color: #2e2e2e;
  padding: 20px 0;
  color: #eeeeee;
}

/************ Home *************/
.home {
  margin-top: 20px;
  margin-bottom: 30px;
}

.home .card {
  width: 250px;
  margin-bottom: 30px;
}

.home .card h6 {
  font-size: 22px;
  margin: 0;
  margin-bottom: 5px;
  text-align: center;
}

/************ Auth *************/
.auth {
  margin-bottom: 30px;
}

.auth .box {
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  background-color: #900c3f;
  border-radius: 15px;
  padding: 20px;
}
.auth .box input {
  width: 100%;
  margin-bottom: 10px;
}

.auth .box input[type="submit"] {
  width: auto;
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.4s;
  cursor: pointer;
  background-color: #ffc300;
  color: #581845;
}

.auth .box input[type="submit"]:hover {
  background-color: #c1fe4e;
  color: #581845;
}

.auth .error-modal {
  display: none;
  padding: 10px 20px;
  border: 2px solid #ff5733;
  border-radius: 10px;
  margin-top: 10px;
  color: #ff5733;
  font-weight: bold;
}

/************ Dashboard *************/
.dashboard {
}

.dashboard .filters {
  margin-bottom: 20px;
}

.dashboard .content {
  margin-bottom: 40px;
}

.dashboard .card {
  width: 350px;
  margin-bottom: 30px;
  background-color: #eeeeee;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.dashboard .card .card__img img {
  border-radius: 10px 10px 0 0;
}

.dashboard .card .card__content {
  padding: 10px 15px;
  padding-bottom: 20px;
}

.dashboard .card .card__content .header-icon {
  width: 10%;
}
.dashboard .card .card__content .header-title {
  width: 70%;
}
.dashboard .header-title h3,
.dashboard .header-title h6 {
  margin: 0;
  margin-bottom: 5px;
}
.dashboard .card .card__content .header-time {
  width: 10%;
}
